.node {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
    display: inline-block;
}

.node-start {
    background-color: green;
}

.node-finish {
    background-color: red;
}

.node-wall {
    background-color: black;
}