.node {
    width: 28px;
    height: 28px;
    outline: 1px solid black;
    display: inline-block;
    margin-bottom: -4px;
}

.node-start {
    /*background-color: green;*/
    background: url("../../images/x-wing.png");
    background-size: cover;
}

.node-finish {
    /*background-color: red;*/
    background: url("../../images/death-star.png");
    background-size: cover;
}

.node-wall {
    background-color: black;
    /*background: url("../../images/tie-fighter-1.png");
    background: url("../../images/asteroid.jfif");
    background-size: cover;*/
}

/*.node-visited {
    background-color: aqua;
}*/
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}


/*.node-shortest-path {
    background-color: yellow;
}*/
.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}